Package: com.michael.networkfixer
Name: networkfixer
Version: 1.2.0
Architecture: iphoneos-arm
Description: Fix app network error for China models.
Depiction: https://halo-michael.github.io/repo/info/networkfixer
Depends: firmware (>= 11.0)
Maintainer: halo_michael <yc992147156@me.com>
Author: halo_michael <yc992147156@me.com>
Conflicts: com.laoyur.network-fixer, com.rockqj.networkfixer
Section: System
Tag: role::hacker
