Package: com.michael.networkfixer
Name: networkfixer
Version: 1.0.0
Architecture: iphoneos-arm
Description: Fix app network error for China models.
 Fix app network error for China models.
 A simple executable to fix app network error for China models.
 Support iOS12 and iOS13
 How to use:
 /usr/bin/networkfixer com.example.bundleid
Depends: firmware (>= 12.0)
Maintainer: halo_michael <yc992147156@me.com>
Author: halo_michael <yc992147156@me.com>
Conflicts: com.laoyur.network-fixer, com.rockqj.networkfixer
Section: System
Tag: role::hacker
